* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}


/* login.html */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

#portada {
    background-image: url(../img/restaurante.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    display: flex;
    margin: auto;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* login.html*/


/* header */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
}

li a:hover:not(.active) {
    background-color: grey;
}

.right {
    float: right;
}


/* header */

.padding-lat {
    padding-left: 2%;
    padding-right: 2%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.padding-top {
    padding-top: 70px;
}


/* Zona admin */

.column-2 {
    width: 25%;
    float: left;
    padding: 2%;
}

.column-1 {
    width: 100%;
    float: left;
}

.column-4 {
    width: 50%;
    float: left;
}

.fondo {
    background-color: rgba(231, 230, 230, 1);
    padding-top: 1%;
    padding-bottom: 10%;
    text-align: center;
    border-radius: 5px;
}

.casilla {
    border-radius: 5px;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

table {
    width: 100%;
}

tr {
    padding: 1%;
    text-align: center;
}

th {
    padding: 1%;
    text-align: center;
}

td {
    padding: 1%;
    text-align: center;
}

.gris {
    background-color: #f8f8f8;
}

.green {
    color: green;
}

.red {
    color: red;
}

.blue {
    background-color: #408bc9;
    color: white;
}

label {
    font-weight: bold;
    font-size: 18px;
}

.filtrar {
    font-size: 18px;
    font-weight: bold;
    padding-right: 1%;
    padding-left: 1%;
    color: royalblue;
    border-radius: 5px;
}

button {
    padding: 0 16px;
    border-radius: 5px;
    background-color: #fafafa;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: background-color 15ms linear, box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    height: 36px;
    line-height: 2.25rem;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

button a {
    text-decoration: none;
}

button:hover,
button:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #d4d4d4;
}

button:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
    background-color: #cccccc;
}


/* For mobile phones: */

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }
    .col-s-2 {
        width: 16.66%;
    }
    .col-s-3 {
        width: 25%;
    }
    .col-s-4 {
        width: 33.33%;
    }
    .col-s-5 {
        width: 41.66%;
    }
    .col-s-6 {
        width: 50%;
    }
    .col-s-7 {
        width: 58.33%;
    }
    .col-s-8 {
        width: 66.66%;
    }
    .col-s-9 {
        width: 75%;
    }
    .col-s-10 {
        width: 83.33%;
    }
    .col-s-11 {
        width: 91.66%;
    }
    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}